server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://127.0.0.1:4200;
        proxy_http_version 1.1;
    }

    location /api {
        proxy_pass http://127.0.0.1:4200;
        proxy_http_version 1.1;
    }

    location /agents {
        proxy_pass http://127.0.0.1:4200;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    location /interconnect {
        proxy_pass http://127.0.0.1:4200;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }    
}
